/* Noto Sana */
@font-face {
  font-family: 'Noto Sans KR';
  src: local('NotoSansKR-Light.otf'), url('./assets/font/NotoSansKR-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('NotoSansKR-Medium.otf'), url('./assets/font/NotoSansKR-Medium.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('NotoSansKR-Regular.otf'), url('./assets/font/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('NotoSansKR-Bold.otf'), url('./assets/font/NotoSansKR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Light.otf'), url('./assets/font/Montserrat-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium.otf'), url('./assets/font/Montserrat-Medium.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular.otf'), url('./assets/font/Montserrat-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold.otf'), url('./assets/font/Montserrat-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

html {
  font-size: 1px;
}
@media screen and (max-width: 720px) {
  html {
    /* 360px : 1px = 100vw : X  ...100vw = 360*X ...36/100 = x = 0.36vw  */
    font-size: calc(100vw / 360);
  }
}

* {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  color: #333;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  min-width: 360px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
}
a:focus,
button:focus {
  border: 1px dashed gray;
}
button {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

#root {
  padding-bottom: 50rem;
}

/* modal 관련 */
#modal {
}

/* 공통 css 클래스 */
/* 헤더가 있는 섹션 클래스 */
.header_section {
  padding-top: 45rem;
}
/* 아래에 고정된 버튼이 있는 섹션 클래스 */
.fixed_btn_section {
  overflow: auto;
  height: calc(100vh - 50rem);
}
/* 리더기 용text 히든 클래스 */
.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
