/* TODO: 임시 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

html {
  font-size: calc(100vw / 360);
}
* {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  color: #333;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  min-width: 360px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
}
a:focus {
  border: 1px dashed gray;
}
button {
  border: none;
  cursor: pointer;
}

body > #root {
  min-width: 360px;
  min-height: 100vh;
  padding: 20rem 20rem 50rem 20rem;
}
.App-header h1 {
  font-size: 20rem;
  margin: 16rem;
}
