/* TODO: 임시 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

html {
  font-size: calc(100vw / 360);
}
* {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  color: #333;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  min-width: 360px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
}
a:focus {
  border: 1px dashed gray;
}
button {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

body > #root {
  min-width: 360px;
  min-height: 100vh;
  padding-bottom: 50rem;
}
.App-header h1 {
  font-size: 20rem;
  margin: 16rem;
}
/* modal 관련 */
#modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
}
/* 공통 css 클래스 */
/* 헤더가 있는 섹션 클래스 */
.header_section {
  padding-top: 45rem;
}
/* 리더기 용text 히든 클래스 */
.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
